/*长方体布局样式*/
.container {
    @include wid-len(450px,200px);
    position: relative;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    margin:20px auto;
    .box {
        @include wid-len(100%,100%);
        @include trans(translateZ(-100px),rotateX(0deg));
        position: absolute;
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
        >div {
            display: block;
            position: absolute;
        }
        .front,
        .back{
            @include wid-len(498px,619px);
            background-color:#F9CC9D;
        }
        .left,
        .right{
            @include wid-len(98px,619px);
            left: 100px;
            background-color:#F9CC9D;
        }
        .top,
        .bottom{
            @include wid-len(498px,98px);
            top: 50px;
        }
        .front{
            @include trans(rotateY(0deg),translateZ( 50px));
            opacity:0.9;
        }
        .back {
            @include trans(rotateX( 180deg),translateZ( 50px));
        }
        .right {
            @include trans(rotateY( 90deg),translateZ( 350px));
        }
        .left {
            @include trans(rotateY( -90deg),translateZ( 150px));
        }
        .top {
            @include trans(rotateX( 90deg),translateZ( 100px));
        }
        .bottom {
            @include trans(rotateX( -90deg),translateZ( 520px));
        }
        @-moz-document url-prefix(){
            .front,
            .back{
                height:688px !important;
            }
            .left,
            .right{
                height:688px !important;
            } 
            .bottom{
                @include trans(rotateX( -90deg),translateZ( 520px));
            }
        }  
    }
}