/*样式重置*/

body,
div,
ul,
li,
input,
img,
span,
i,
p,
table,
tbody,
tr,
td,
h3,
em {
    margin: 0;
    padding: 0;
    font-family: arial;
    font-size: 12px;
}

html {
    height: auto;
    min-height: 600px;
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 600px;
    height: auto;
    width: 100%;
    height: 100%;
}

input {
    outline: none;
    border: 0;
}

ul,
li {
    list-style: none;
}

a {
    color: #000;
}

em {
    font-style: normal;
}


/*清除浮动*/

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.clearfix {
    zoom: 1;
}


/*通用*/

.boxWid {
    width: 640px;
    margin: 0 auto;
    position: relative;
}

.leftArea {
    float: left;
}

.rightArea {
    float: right;
}

.active2 {
    background: transparent;
    background: rgba(70, 70, 70, .1);
    color: #333;
    font-weight: bold;
}

/*主体样式*/
.container{
    height: 100%;
}

/*顶部*/

.topBar {
    height: 35px;
    line-height: 35px;
    padding: 5px 0 0 10px;
    border-bottom: 1px solid #E8E8E8;
}


/*顶部左侧区域*/

.weather,
.treasure_box,
.change_skin,
.messageBox {
    float: left;
    margin-right: 10px;
}

.topBar .leftArea a {
    color: #555;
}

.topBar .weather a {
    text-decoration: none;
}

.weather .show-city {
    color: #3385FF;
}

.weather .line {
    display: inline-block;
    padding-left: 5px;
}


/*换肤*/

.change_skin .skinBox {
    height: 288px;
    border: 1px solid #999;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #fff;
    display: none;
}

.skinBox .skinHead {
    width: 100%;
    height: 48px;
    border-bottom: 1px solid #E3E3E3;
}

.skinHead .tools {
    width: 13%;
    margin: 0 auto;
}

.skinBox .skinHead span {
    font-size: 16px;
    font-family: "Microsoft YaHei";
    color: #555;
    margin-left: 5px;
}

.skinHead span i {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
}

.skinHead .cancle:hover,
.skinBox .skinHead .pack_up {
    color: #0079F5;
    cursor: pointer;
}

.skinHead .cancle i {
    background: url(../images/cancle1.png) left center no-repeat;
}

.skinHead .pack_up i {
    background: url(../images/packup.png) left center no-repeat;
}

.skinBox .operateSkin {
    width: 73%;
    margin: 0 auto;
    margin-top: 29px;
    position: relative;
}

.skinBox .checkSkin {
    width: 590px;
    height: 180px;
}

.skinBox .previewSkin {
    width: 260px;
    height: 163px;
    border: 1px solid #ccc;
    float: right;
    margin-top: -178px;
}

.skinBox td img {
    width: 97px;
    height: 59px;
    cursor: pointer;
}

.skinBox .big img {
    width: 195px;
    height: 119px;
}

.skinBox .operateSkin p {
    position: absolute;
    right: 75px;
    bottom: -20px;
    color: #666;
}

.trans {
    background: transparent;
    background: rgba(0, 0, 0, .3);
}

.trans2 {
    background: transparent;
    background: rgba(255, 255, 255, .8);
}


/*消息区*/

.messageBox {
    position: relative;
}

.showMessage {
    width: 280px;
    height: 140px;
    border: 1px solid #E3E3E3;
    position: absolute;
    top: 35px;
    left: -140px;
    display: none;
    background-color: #fff;
}

.messageCon {
    width: 90%;
    height: 40%;
    margin: 0 auto;
    border-bottom: 1px solid #EFEFEF;
}

.messageCon p {
    width: 90px;
    margin: 0 auto;
    margin-top: 30px;
}

.operateMessage {
    width: 70%;
    margin: 10px auto;
}

.clearBtn,
.setBtn {
    width: 82px;
    height: 30px;
    color: #fff;
}

.setBtn {
    background-color: #389CFF;
    cursor: pointer;
}

.clearBtn {
    background-color: #BCBCBC;
    margin-right: 10px;
}


/*顶部右侧区域*/

.topBar .rightArea {
    float: right;
}

.right_tab {
    -float: right;
}

.topBar .rightArea li {
    float: left;
    text-align: center;
}

.right_tab {
    position: relative;
}

.right_tab li {
    margin-left: 20px;
}

.right_tab li a {
    font-weight: bold;
    font-size: 13px;
    color: #555555;
}

.right_tab .more_li:hover .more_list{
    display: block;
}

.right_tab .more_li:hover .more{
    background-color: #F9F9F9;
    color:#666!important;
}

.right_tab .more {
    padding: 3px 15.5px;
    background-color: #3385FF;
    color: #fff;
    font-weight: normal;
    text-decoration: none;
    display: inline-block;
    position: relative;
    top: -5px;
}


/*更多产品选项样式*/

.right_tab .more_li {
    position: relative;
}

.right_tab .more_list {
    position: absolute;
    top: 35px;
    right: 0;
    min-height: 635px;
    padding: 0 10px;
    background-color: #F9F9F9;
    display: none;
}

.right_tab .more_list li {
    float: none;
    height: 78px;
    width: 63px;
    margin-left: 0;
    padding-top: 10px;
    border-bottom: 1px solid #F0F0F0;
    line-height: 25px;
}

.right_tab .more_list li a {
    color: #666;
    text-decoration: none;
    font-size: 12px;
    font-weight: normal;
}

.right_tab .more_list li a:hover {
    text-decoration: underline;
}

.right_tab .more_list .all_product {
    border-bottom: none;
}

.right_tab .clearBod {
    font-weight: normal;
}


/*用户和设置区域样式*/

.right_tab .user,
.right_tab .setting {
    position: relative;
}

.right_tab .user-list,
.right_tab .setting-list {
    border: 1px solid #E3E3E3;
    display: none;
    position: absolute;
    top: 35px;
    left: -10px;
}

.right_tab .user-list {
    width: 143%;
}

.right_tab .setting-list {
    width: 237%;
}

.right_tab .user-list li,
.right_tab .setting-list li {
    width: 92%;
    margin-left: 0;
    float: none;
    line-height: 22px;
    padding: 5px 5px 5px 0;
}

.right_tab .user-list li a,
.right_tab .setting-list li a {
    font-weight: normal;
    font-size: 12px;
    text-decoration: none;
}

.right_tab .user:hover .user-list{
    display: block;
}

.right_tab .setting:hover .setting-list{
    display: block;
}

.right_tab .user-list li:hover,
.right_tab .setting-list li:hover{
    background-color:#398BFB; 
}

/*.right_tab .user-list a:hover,
.right_tab .setting-list a:hover{
    color:#fff; 
}*/
/*logo及搜索框*/

.searchArea {
    margin-top: 50px;
}

.logo {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.searchBox .search_input {
    width: 518px;
    height: 35px;
    line-height: 35px\9;
    float: left;
    border: 1px solid #B8B8B8;
    padding: 0 5px;
    border-right: none;
    background: url(../images/icon.png) right top no-repeat;
    background-position: 500px 14px;
}

.searchBox .search_input:focus {
    border-color: #3385FF;
}

.searchBox .search_btn {
    width: 110px;
    float: left;
    height: 37px;
    line-height: 37px;
    background-color: #3385FF;
    color: #fff;
    font-size: 16px;
}

.searchBox .search_btn:hover {
    background-color: #317EF3;
    cursor: pointer;
}

.gradient {
    background: -moz-linear-gradient(top, #EEEEEE 0%, #B5BDBF 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EEEEEE), color-stop(100%, #B5BDBF));
    background: -webkit-linear-gradient(top, #EEEEEE 0%, #B5BDBF 100%);
    background: linear-gradient(to bottom, #EEEEEE 0%, #B5BDBF 100%);
}


/*内容区*/

.contentBox {
    width: 895px;
    height: 405px;
    margin: 50px auto 60px;
    border: 1px solid #E9E9E9;
}


/*导航列表*/

.contentNav {
    border-bottom: 1px solid #E9E9E9;
}

.contentNav li {
    float: left;
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    margin-right: 1px;
}

.contentNav .active {
    background-color: #B3B6BB;
    color: #fff;
    font-weight: bold;
}

.contentNav .first {
    padding: 0 20px;
}

.contentNav .first em {
    display: inline-block;
    width: 20px;
    height: 18px;
    background: url(../images/icon2.png) -145px 0 no-repeat;
    position: relative;
    top: 5px;
}

.content {
    padding: 0 30px;
}


/*我的关注区*/

.follow #myNav {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #F0F0F0;
    cursor: pointer;
}

.follow #myNav:hover #operation_list{
    display: block;
}

.follow .operation_list {
    float: right;
    display: none;
}

.follow .operation_list li {
    float: left;
    font-weight: normal;
    width: 70px;
    height: 40px;
    text-align: center;
}

.follow .operation_list li:hover {
    color: #0077FF;
}

.follow h3 i {
    display: inline-block;
    width: 0;
    height: 0;
    border: 5px solid #666;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent
}

.follow p {
    font-size: 14px;
    margin-top: 20px;
}

.follow p i {
    width: 12px;
    height: 12px;
    display: inline-block;
    background: url(../images/icon3.png) 0 0 no-repeat;
    margin-right: 5px;
    position: relative;
    top: 1px;
}


/*推荐区*/

.recommend {
    display: none;
}

.recommend .leftArea {
    width: 63%;
}

.reco_conetnt {
    border-bottom: 1px solid #F0F0F0;
    padding-bottom: 10px;
    position: relative;
}

.recommend .reco_head {
    margin: 15px 0;
}

.recommend .reco_head a {
    font-size: 18px;
    text-decoration: none;
    color: #333;
    font-family: "Microsoft YaHei";
}

.recommend .reco_head a:hover {
    text-decoration: underline;
    color: #0077FF;
}

.recommend .img_box {
    position: relative;
    top: -7px;
    left: 358px;
}

.recommend .reco_text {
    color: #808080;
    font-size: 14px;
}

.recommend .reco_text span {
    display: inline-block;
    margin-left: 20px;
}

.recommend .rightArea {
    width: 33%;
}

.recommend .hot li {
    list-style: square;
    height: 32px;
    line-height: 32px;
    float: left;
    width: 50%;
}

.recommend .hot li a {
    text-decoration: none;
    font-size: 14px;
    color: #333;
    font-family: "Microsoft YaHei";
}

.recommend .hot li a:hover {
    text-decoration: underline;
    color: #0077FF;
}

.hot .hot_head {
    height: 50px;
    line-height: 50px;
}


/*导航区*/

.nav {
    display: none;
}

.nav .nav_head {
    height: 40px;
    line-height: 40px;
}

.nav .first_websites {
    padding-bottom: 10px;
}

.nav .second_websites {
    padding: 10px 0;
}

.nav li {
    float: left;
    width: 16%;
    text-align: center;
    height: 70px;
    line-height: 70px;
    cursor: pointer;
}

.nav li a {
    font-size: 14px;
    font-family: "Microsoft YaHei";
}

.nav li a:hover {
    color: #FF5500;
    text-decoration: underline;
}

.first_websites li i {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    top: 3px;
}


/*为导航网址设置icon图标*/

.first_websites [class*=site-] {
    background: url(../images/ic.png) left top no-repeat;
}

.first_websites .site-baidu {
    background-position: 0 -196px;
}

.first_websites .site-sina {
    background-position: 0 -277px;
}

.first_websites .site-sohu {
    background-position: 0 -316px;
}

.first_websites .site-tencent {
    background-position: 0 -36px;
}

.first_websites .site-netEase {
    background-position: 0 -156px;
}

.first_websites .site-youku {
    background-position: 0 -397px;
}

.first_websites .site-tmall {
    background-position: 0 -477px;
}

.first_websites .site-phoenix {
    background-position: 0 -237px;
}

.first_websites .site-taoBao {
    background-position: 0 -356px;
}

.first_websites .site-game4399 {
    background-position: 0 2px;
}

.first_websites .site-carHome {
    background-position: 0 -518px;
}

.first_websites .site-lottery {
    background-position: 0 -557px;
}

.first_websites [class*=site_] {
    position: relative;
    top: 7px;
}

.first_websites .site_freeGame {
    background: url(../images/game.png) left top no-repeat;
}

.first_websites .site_xinhua {
    background: url(../images/renmin.png) left top no-repeat;
}

.first_websites .site_jingDong {
    background: url(../images/jingdong.png) left top no-repeat;
}

.first_websites .site_juHuaSuan {
    background: url(../images/juhuasuan.png) left top no-repeat;
}

.first_websites .site_special {
    background: url(../images/special.png) left top no-repeat;
}

.first_websites .site_movie123 {
    background: url(../images/hao123.png) left top no-repeat;
}


/*视频区*/

.video {
    padding-top: 20px;
    display: none;
    position: relative;
}

.video .img_box {
    position: relative;
    cursor: pointer;
}

.video a {
    text-decoration: none;
}

.video a:hover {
    text-decoration: underline;
    color: #0077FF;
}

.comic,
.movie,
.hot_news {
    float: left;
    padding: 0 0 10px 5px;
}

.comic:hover .operation,
.movie:hover .operation,
.hot_item:hover .operation{
    display: block;
}

.video .comic,
.video .movie {
    width: 23.5%;
    margin-right: 1.5%;
    background-color: #F5F5F5;
}

.comic p,
.movie p {
    font-size: 14px;
    color: #333;
    margin-top: 5px;
}

.level span {
    display: inline-block;
    height: 15px;
    width: 15px;
    background: url(../images/star.png) left top no-repeat;
    background-position: 0 -15px;
    position: relative;
    top: 5px;
}

.hot_news {
    width: 48%;
}

.hot_news .hot_item_box {
    float: left;
    width: 400px;
    height: 100px;
    margin-bottom: 56px;
}

.hot_item {
    float: left;
    margin-right: 5px;
    background-color: #F5F5F5;
    padding-bottom: 10px;
}

.hot_item .news_box {
    width: 195px;
    margin-bottom: 5px;
    position: relative;
    cursor: pointer;
}

.hot_item .news_text {
    width: 195px;
    color: #333;
    font-size: 14px;
    position: relative;
}


/*视频操作区*/

.video .operation {
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.video .operation span {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.operation .collection {
    background: url(../images/icon4.png) left top no-repeat;
    background-position: -3px 0;
}

.operation .delete {
    background: url(../images/icon4.png) left top no-repeat;
    background-position: -46px 0;
}

.shop {
    padding-top: 45px;
    display: none;
}

.shop .shop_img {
    float: left;
    margin-right: 20px;
    position: relative;
    cursor: pointer;
}

.shop .shop_text {
    position: absolute;
    bottom: 0;
    left: 5px;
}

.shop_text div {
    width: 185px;
    height: 35px;
    line-height: 35px;
    margin: 0 auto;
    background-color: #fff;
    margin-bottom: 1px;
}

.shop_text div p {
    font-size: 14px;
    text-align: center;
}

.shop .shop_list li {
    float: left;
    width: 95px;
    height: 50px;
    line-height: 50px;
}

.shop .shop_list li a {
    text-decoration: none;
    font-size: 14px;
    color: #666;
}

.shop .shop_list li a:hover {
    text-decoration: underline;
}



.shop_list .more {
    font-size: 12px;
    color: #0771FB;
}


/*底部版权区*/

.footer {
    width: 100%;
}

.footerCon {
    width: 656px;
    *width: 660px;
    height: 100%;
    margin: 0 auto;
    color: #999;
}

.footerCon a {
    color: #999;
}

.footerCon .conBox {
    width: 60%;
    margin: 0 auto;
}

.conBox p {
    margin-bottom: 10px;
}

.wangbei i,
.wangbei span {
    float: left;
}

.wangbei i {
    width: 25px;
    height: 22px;
    display: inline-block;
    background: url(../images/wangbei.png) left center no-repeat;
    margin-top: -3px;
}

.change_text {
    color: #666;
    font-weight: bold;
    margin-bottom: 10px;
}
